.c-post{
    background: -moz-linear-gradient(top left, rgb(241, 121, 235), #FFC778);
    background: -webkit-linear-gradient(top left, rgb(241, 121, 235), #FFC778);
    background: linear-gradient(to bottom right, rgb(241, 121, 235), #FFC778);
    min-height: 1250px;
    width:82%;
    margin-left: 18%;
    padding: $space_xl;
    box-sizing: border-box;
    @include mq('md'){
        margin-left: 30%;
        width: 70%;
        padding: $space_xl $space_m;
    }
    @include mq(){
        margin-left: 0;
        width: 100%;
    }
    &__title{
        font-size: $font-size_xxl;
        text-align: center;
        margin-bottom: $space_xl;
        font-weight: bold;
        color: #fff;
    }
    &__inputGroup{
       width: 100%;
       margin-bottom: $space_l;
    }
    &__labelTitle{
        display: block;
        text-align: center;
        color: #fff;
        font-weight: bold;
        margin-bottom: $space_m;
        font-size: $font-size_l;
    }
    &__input{
        display: block;
        width: 80%;
        margin: $space_m auto;
        border-radius: $space_s;
        padding: $space_m $space_l;
        box-sizing: border-box;
        text-align: center;
        background: #607af1;
        color: #fff;
        border: #fff solid 2px;
    }
    &__select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        margin: $space_m auto;
        border-radius: $space_s;
        padding: $space_m $space_l;
        background: #607af1;
        color: #fff;
        border: #fff solid 2px;

    }
    &__price{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0 $space_s;
        box-sizing: border-box;
        border-radius: $space_s;
        background: #607af1;
        color: #fff;
        border: #fff solid 2px;
        margin-right: $space_s;
        width: 70px;
        line-height: 100%;
    }
    &__priceWrapper{
        display:flex;
        text-align: center;
        width: 26%;
        margin: $space_xl auto;
        @include mq('lg'){
            width: 37%;
        }
        @include mq('md'){
            width: 50%;
        }
        span{
            color: #fff;
            font-size: $font-size_l;
            line-height: 100%;
            @include mq(){
                font-size: $font-size_default;
            }
        }
        @include mq(){
            width: 95%;
        }
    }
    &__priceInput{
        @include mq(){
            width: 150px;
        }

    }
    &__warning{
        text-align: center;
        padding: $space_s $space_m;
        box-sizing: border-box;
        background: rgb(241, 232, 180);
        margin: $space_m auto;
        text-align: center;
        color: red;
    }
    &__center{
        line-height: 100%;
        color: #fff;
        font-weight: bold;
        margin: 0 $space_xl;
    }
    &__submit{
        width: 80%;
        margin: $space_m auto;
        padding: $space_m $space_l;
        box-sizing: border-box;
        color: #fff;
        display:flex;
        justify-content: center;
    }

}
