.c-search{

    &__input{
        width:400px;
        height:28px;
        border-radius:5px;
        padding:$space_s $space_m;
        box-sizing:border-box;
        margin-top: $space_m;
        @include mq('lg'){
            width: 200px;
        }
    }
    &__btn{
        height:30px;
        font-size: $font-size_m;
        border-radius: $space_s;
        padding: $space_s $space_m;
        box-sizing: border-box;
        @include mq('md'){
            font-size: $font-size_s;
        }
    }
    @include mq(){
        display: none;
    }
}
