.p-modal{
    &__container1{
        display: flex;
        align-items: flex-start;
        @include mq(){
            display: block;
        }
    }
    &__img{
        width: 30%;
        display: block;
        height: auto;
        @include mq(){
            width: 80%;
            margin: 0 auto;
        }
    }
    &__container2{
        margin-left: $space_xl;
        line-height: 130%;
    }
    &__title{
        margin-top: $space_l;
        font-size: $font-size_l;
        text-align: left;
    }
    &__introduction{
        border: #fff 2px solid;
        padding: $space_m;
        border-radius: $space_s;
        box-sizing: border-box;
        margin-top: $space_l;
        line-height: 150%;
        white-space: pre-line;
        word-wrap: break-word;
    }
}
