html,
body {
  width: 100%;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Roboto";
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 0.1em;
  min-height: 800px;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: #f760d1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#header {
  height: 100px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5em 1em;
  background: -webkit-gradient(linear, left top, right top, from(#0b6eee), to(#70c6ff));
  background: linear-gradient(to right, #0b6eee, #70c6ff);
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 4;
}

@media screen and (max-width: 414px) {
  #header {
    height: 60px;
    margin-bottom: 60px;
  }
}

#main {
  min-height: 800px;
  margin: 0 auto;
  margin-top: 40px;
  width: 80%;
  margin-bottom: 100px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#footer {
  background: -webkit-gradient(linear, left top, right top, from(#0b6eee), to(#70c6ff));
  background: linear-gradient(to right, #0b6eee, #70c6ff);
  height: 50px;
  padding: 0.5em 1em;
  text-align: center;
  color: #fff;
  width: 100%;
}

#sidebar {
  width: 18%;
  color: #fff;
  padding: 40px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #83df46;
}

.c-search__input {
  width: 400px;
  height: 28px;
  border-radius: 5px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-search__btn {
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-auth {
  background: #16f016;
  width: 50%;
  min-height: 350px;
  margin: 0 auto;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
}

.c-auth__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.c-auth__inputGroup {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.c-auth__inputTitle {
  display: block;
  margin-bottom: 10px;
}

.c-auth__inputField {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

.c-auth__inputField.is-invalid {
  border: solid 3px #ff5555;
}

.c-auth__submit {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  text-align: left !important;
}

.c-auth__error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #fc5656;
}

.c-auth__passLink {
  margin-right: 10px;
}

.c-auth__passLink:hover {
  color: #0a7fad;
}

.c-post {
  background: #f7af13;
  min-height: 500px;
  width: 82%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-post__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}

.c-post__inputGroup {
  width: 100%;
  margin-bottom: 15px;
}

.c-post__labelTitle {
  display: block;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.c-post__input {
  display: block;
  width: 50%;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background: #607af1;
  color: #fff;
  border: #fff solid 2px;
}

.c-post__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  background: #607af1;
  color: #fff;
  border: #fff solid 2px;
}

.c-post__price {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  padding: 10px;
  background: #607af1;
  color: #fff;
  border: #fff solid 2px;
  margin-right: 5px;
}

.c-post__priceWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: 20px auto;
}

.c-post__priceWrapper span {
  padding: 10px 0;
  color: #fff;
  font-size: 18px;
}

.c-post__center {
  line-height: 100%;
  color: #fff;
  font-weight: bold;
}

.c-post__submit {
  width: 50%;
  margin: 10px auto;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-comment {
  padding: 20px 10px;
  width: 100%;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;
}

.c-comment__questioner {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.c-comment__imgArea {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.c-comment__image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.c-comment__question {
  width: 100%;
  text-align: left;
}

.c-comment__says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  width: 80%;
  color: #333;
  border-radius: 12px;
  background: #edf1ee;
}

.c-comment__says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.c-comment__says p {
  margin: 0;
  padding: 0;
}

.c-comment__answer {
  margin: 10px 0;
}

.c-comment__answer p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  width: 80%;
  color: #333;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.c-comment__answer p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.p-panelArea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: -5px;
}

.p-footer {
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  position: relative;
  height: 100%;
}

@media screen and (max-width: 414px) {
  .p-nav {
    width: 80%;
  }
}

.p-nav__title {
  font-size: 38px;
  color: #fff;
  font-family: "Righteous";
  text-shadow: 3px 3px 1px #62fafa;
  margin-left: 5px;
  margin-right: 15px;
}

@media screen and (max-width: 414px) {
  .p-nav__title {
    font-size: 24px;
  }
}

.p-nav__title:hover {
  color: #b8f0b0;
  text-decoration: none;
}

.p-nav__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-nav__menus {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}

.p-nav__menus.u-left {
  margin-left: 10px;
}

@media screen and (max-width: 414px) {
  .p-nav__menus.u-left {
    display: none;
  }
}

.p-nav__menus.u-right {
  position: absolute;
  right: 20px;
}

@media screen and (max-width: 414px) {
  .p-nav__menus.u-right {
    display: none;
  }
}

.p-nav__li {
  margin-right: 5px;
}

@media screen and (max-width: 414px) {
  .p-nav__li {
    display: none;
  }
}

.p-nav__li a {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
}

.p-nav__li a:hover {
  color: #ebcd22;
}

.p-item {
  width: 80%;
  border: solid 2px #99f81e;
  background: #fbfbfa;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 750px;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 40px;
  border-radius: 5px;
  color: #fff;
}

.p-item__comment {
  position: relative;
  padding: 0.25em 0;
  color: #446443;
  margin: 0 auto;
  margin-top: 10px;
  width: 20%;
  font-weight: bold;
  font-size: 24px;
}

.p-item__comment:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#3caf06), to(#c2ff73));
  background: linear-gradient(to right, #3caf06, #c2ff73);
}

.p-item__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-item__input {
  background: #fbfbfa;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px #5b5ef1;
  width: 70%;
  margin: 20px;
  margin-right: 40px;
  border-radius: 10px;
  display: block;
}

.p-item__nothing {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0a3f8f;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.p-middleHead {
  height: 500px;
  background-image: url("/images/businessman-collaborate-collaboration-872957.jpg");
  background-size: cover;
  opacity: 1;
  margin-top: 100px;
  background-position: center;
  background-size: center;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 414px) {
  .p-middleHead {
    padding: 0;
  }
}

.p-middleHead__content {
  padding-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fbfbfa;
  border-radius: 10px;
  background: rgba(41, 46, 38, 0.35);
  font-size: 18px;
  font-weight: bold;
  line-height: 250%;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

@media screen and (max-width: 414px) {
  .p-middleHead__content {
    line-height: 230%;
    padding: 10px;
  }
}

.p-middleHead__center {
  text-align: left;
  display: inline-block;
  opacity: 1;
}

.p-side {
  list-style: none;
}

.p-side__li {
  margin-bottom: 20px;
}

.p-side__link {
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  color: #607af1;
}

.p-side__btn {
  padding: 10px;
  background: #f5e068;
  border-radius: 5px;
}

.c-panel {
  display: inline-block;
  width: 100%;
  min-height: 180px;
  background: #fbfbfa;
  padding: 20px;
  border: solid 1px #99f81e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-panel__title {
  color: #4eb609;
}

.c-panel__category {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #63b6cf;
  width: 200px;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
  margin-right: 15px;
}

.c-panel:hover {
  background: rgba(170, 238, 158, 0.8);
  text-decoration: none;
  color: #ebfbfa;
}

.c-panel__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #0a3f8f;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-panel__container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-panel__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  top: -5px;
  margin-left: 10px;
  margin-right: 5px;
}

.c-panel__prof {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
}

.c-panel__price {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #bbb477;
  width: 300px;
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
}

.c-panel__detail {
  margin-top: 10px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 150%;
  color: #0a3f8f;
  border: solid 1px #56c2a2;
  border-radius: 5px;
  margin-bottom: 10px;
}

.p-prof {
  background: #f7af13;
  min-height: 500px;
  width: 82%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-prof__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}

.p-prof__formArea {
  margin: 20px auto;
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 5px;
}

.p-prof__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-prof__inputWrapper1 {
  width: 25%;
  margin-right: 20px;
  min-height: 800px;
}

.p-prof__inputWrapper2 {
  width: 73%;
  min-height: 800px;
}

.p-prof__inputGroup {
  width: 100%;
  margin-bottom: 15px;
}

.p-prof__labelTitle {
  display: block;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.p-prof__input {
  display: block;
  width: 80%;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background: #607af1;
  color: #fff;
  border: #fff solid 2px;
}

.p-prof__image {
  border: solid 3px #607af1;
  margin-bottom: 15px;
}

.btn-yellow {
  background: #ebcd22;
  color: #fff;
  font-weight: bold;
}

.btn-yellow:hover {
  background: #f7d0f1;
}

.background-creamGreen {
  background: #93e593;
  min-height: 800px;
  margin-top: 100px;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-right {
  text-align: right;
}

.flex-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 800px;
  margin-top: 100px;
  position: relative;
}

.btn {
  width: 200px;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  border: 2px solid #fff;
}

.btn-wide {
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
}

.btn-purple {
  background: #607af1;
}

.btn-lightblue {
  background: #43ccc5;
  height: 50px;
  position: relative;
  top: 120px;
}

.flex-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  right: 10%;
}

.flash_message {
  position: absolute;
  background: #acf13c;
  width: 450px;
  color: #fff;
  font-size: 18px;
  top: 30px;
  left: 38%;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  z-index: 5;
}

@media screen and (max-width: 414px) {
  .flash_message {
    left: -30px;
    text-align: center;
    top: 0vh;
    font-size: 14px;
  }
}

.text-left {
  text-align: left !important;
}

.index-title {
  color: #6cb4e4;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #e9f4ff 3px, #e9f4ff 7px);
}

.flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.paginate-original {
  margin-top: 40px;
}

