@charset "UTF-8";

html,
body {
  width: 100%;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Roboto";
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 0.1em;
  min-height: 800px;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#header {
  height: 100px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5em 1em;
  background: -webkit-gradient(linear, left top, right top, from(#0b6eee), to(#70c6ff));
  background: linear-gradient(to right, #0b6eee, #70c6ff);
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}

@media screen and (max-width: 414px) {
  #header {
    height: 60px;
  }
}

#main {
  min-height: 800px;
  margin: 0 auto;
  margin-top: 40px;
  width: 80%;
  margin-bottom: 100px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1050px) {
  #main {
    width: 90%;
    padding: 15px;
  }
}

@media screen and (max-width: 414px) {
  #main {
    width: 100%;
    padding: 10px;
  }
}

#footer {
  background: -webkit-gradient(linear, left top, right top, from(#0b6eee), to(#70c6ff));
  background: linear-gradient(to right, #0b6eee, #70c6ff);
  height: 50px;
  padding: 0.5em 1em;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 414px) {
  #footer {
    font-size: 10px;
    padding: 5px;
  }
}

#sidebar {
  width: 18%;
  color: #fff;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #6f87f3;
  min-height: 800px;
  position: fixed;
}

@media screen and (max-width: 768px) {
  #sidebar {
    width: 30%;
  }
}

@media screen and (max-width: 414px) {
  #sidebar {
    display: none;
  }
}

#myMain {
  width: 82%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 500px;
  margin: 0 auto;
  padding: 20px 40px;
  box-sizing: border-box;
  margin-left: 18%;
}

@media screen and (max-width: 768px) {
  #myMain {
    padding: 15px;
    width: 70%;
    margin-left: 30%;
  }
}

@media screen and (max-width: 414px) {
  #myMain {
    width: 100%;
    margin-left: 0;
    padding: 10px;
  }
}

.c-search__input {
  width: 400px;
  height: 28px;
  border-radius: 5px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;
}

@media screen and (max-width: 1050px) {
  .c-search__input {
    width: 200px;
  }
}

.c-search__btn {
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .c-search__btn {
    font-size: 12px;
  }
}

@media screen and (max-width: 414px) {
  .c-search {
    display: none;
  }
}

.c-auth {
  background: #16f016;
  width: 50%;
  min-height: 600px;
  margin: 0 auto;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 1050px) {
  .c-auth {
    width: 80%;
  }
}

@media screen and (max-width: 414px) {
  .c-auth {
    width: 95%;
  }
}

.c-auth__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

@media screen and (max-width: 414px) {
  .c-auth__title {
    font-size: 24px;
  }
}

.c-auth__inputGroup {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 15px;
}

@media screen and (max-width: 414px) {
  .c-auth__inputGroup {
    width: 90%;
  }
}

.c-auth__inputTitle {
  display: block;
  margin-bottom: 10px;
}

.c-auth__inputField {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

.c-auth__inputField.is-invalid {
  border: solid 3px #ff5555;
}

.c-auth__submit {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  text-align: left !important;
}

.c-auth__error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #fc5656;
}

@media screen and (max-width: 414px) {
  .c-auth__checkLabel {
    font-size: 12px;
  }
}

.c-auth__passLink {
  margin-right: 10px;
}

@media screen and (max-width: 414px) {
  .c-auth__passLink {
    font-size: 12px;
  }
}

.c-auth__passLink:hover {
  color: #0a7fad;
}

.c-post {
  background: -webkit-gradient(linear, left top, right bottom, from(#f179eb), to(#FFC778));
  background: linear-gradient(to bottom right, #f179eb, #FFC778);
  min-height: 500px;
  width: 82%;
  margin-left: 18%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .c-post {
    margin-left: 30%;
    width: 70%;
    padding: 20px 10px;
  }
}

@media screen and (max-width: 414px) {
  .c-post {
    margin-left: 0;
    width: 100%;
  }
}

.c-post__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}

.c-post__inputGroup {
  width: 100%;
  margin-bottom: 15px;
}

.c-post__labelTitle {
  display: block;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.c-post__input {
  display: block;
  width: 80%;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background: #607af1;
  color: #fff;
  border: #fff solid 2px;
}

.c-post__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px 15px;
  background: #607af1;
  color: #fff;
  border: #fff solid 2px;
}

.c-post__price {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background: #607af1;
  color: #fff;
  border: #fff solid 2px;
  margin-right: 5px;
  width: 70px;
  line-height: 100%;
}

.c-post__priceWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 26%;
  margin: 20px auto;
}

@media screen and (max-width: 1050px) {
  .c-post__priceWrapper {
    width: 37%;
  }
}

@media screen and (max-width: 768px) {
  .c-post__priceWrapper {
    width: 50%;
  }
}

.c-post__priceWrapper span {
  color: #fff;
  font-size: 18px;
  line-height: 100%;
}

@media screen and (max-width: 414px) {
  .c-post__priceWrapper {
    width: 80%;
  }
}

.c-post__center {
  line-height: 100%;
  color: #fff;
  font-weight: bold;
  margin: 0 20px;
}

.c-post__submit {
  width: 80%;
  margin: 10px auto;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-comment {
  padding: 20px 10px;
  width: 100%;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;
  border-radius: 5px;
}

.c-comment__questioner {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.c-comment__imgArea {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.c-comment__image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.c-comment__question {
  width: 100%;
  text-align: left;
}

.c-comment__says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  width: 80%;
  color: #333;
  border-radius: 12px;
  background: #edf1ee;
}

.c-comment__says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.c-comment__says p {
  margin: 0;
  padding: 0;
  line-height: 120%;
}

.c-comment__answer {
  margin: 10px 0;
}

.c-comment__answer p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  width: 80%;
  color: #333;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.c-comment__answer p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.p-panelArea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: -5px;
}

.p-footer {
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (max-width: 414px) {
  .p-footer {
    padding: 5px;
  }
}

.p-hamburger {
  font-size: 24px;
  display: none;
}

@media screen and (max-width: 414px) {
  .p-hamburger {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    background: rgba(104, 192, 46, 0.7);
    width: 100%;
    height: 100%;
    padding-top: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-bottom: 30px;
    font-size: 18px;
  }

  .p-hamburger.active {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: 2;
  }
}

.p-hamburger__menu {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.p-hamburger__list {
  margin: 20px auto;
  text-align: center;
  border-bottom: 1px dotted #fff;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  position: relative;
  height: 100%;
}

@media screen and (max-width: 414px) {
  .p-nav {
    width: 80%;
  }
}

.p-nav__title {
  font-size: 38px;
  color: #fff;
  font-family: "Righteous";
  text-shadow: 3px 3px 1px #62fafa;
  margin-left: 5px;
  margin-right: 15px;
}

@media screen and (max-width: 414px) {
  .p-nav__title {
    font-size: 24px;
  }
}

.p-nav__title:hover {
  color: #b8f0b0;
  text-decoration: none;
}

.p-nav__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-nav__menus {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}

.p-nav__menus.u-left {
  margin-left: 10px;
}

@media screen and (max-width: 414px) {
  .p-nav__menus.u-left {
    display: none;
  }
}

.p-nav__menus.u-right {
  position: absolute;
  right: 20px;
}

@media screen and (max-width: 414px) {
  .p-nav__menus.u-right {
    display: none;
  }
}

.p-nav__li {
  margin-right: 5px;
}

@media screen and (max-width: 414px) {
  .p-nav__li {
    display: none;
  }
}

.p-nav__li a {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
}

.p-nav__li a:hover {
  color: #ebcd22;
}

.p-item {
  width: 80%;
  border: solid 2px #99f81e;
  background: #fbfbfa;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 750px;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 40px;
  border-radius: 5px;
  color: #fff;
}

@media screen and (max-width: 1050px) {
  .p-item {
    width: 94%;
  }
}

@media screen and (max-width: 414px) {
  .p-item {
    width: 100%;
    padding: 20px 10px;
    margin-top: 60px;
  }
}

.p-item__comment {
  position: relative;
  padding: 0.25em 0;
  color: #446443;
  margin: 0 auto;
  margin-top: 10px;
  width: 20%;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

@media screen and (max-width: 1050px) {
  .p-item__comment {
    width: 80%;
    margin-top: 15px;
  }
}

.p-item__comment:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#3caf06), to(#c2ff73));
  background: linear-gradient(to right, #3caf06, #c2ff73);
}

.p-item__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 220px;
  position: relative;
}

@media screen and (max-width: 414px) {
  .p-item__container1 {
    display: block;
  }
}

.p-item__input {
  background: #fbfbfa;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px #5b5ef1;
  width: 70%;
  margin: 20px;
  margin-right: 40px;
  border-radius: 10px;
  display: block;
}

@media screen and (max-width: 414px) {
  .p-item__input {
    width: 90%;
  }
}

.p-item__nothing {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0a3f8f;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .p-item__nothing {
    font-size: 18px;
  }
}

.p-modal__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 414px) {
  .p-modal__container1 {
    display: block;
  }
}

.p-modal__img {
  width: 30%;
  display: block;
  height: auto;
}

@media screen and (max-width: 414px) {
  .p-modal__img {
    width: 80%;
    margin: 0 auto;
  }
}

.p-modal__container2 {
  margin-left: 20px;
  line-height: 130%;
}

.p-modal__title {
  margin-top: 15px;
  font-size: 18px;
  text-align: left;
}

.p-modal__introduction {
  border: #fff 2px solid;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 15px;
  line-height: 150%;
}

.p-message {
  width: 100%;
  min-height: 300px;
  background: #4e5ce0;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-middleHead {
  min-height: 500px;
  background-image: url("/match/images/businessman-collaborate-collaboration-872957.jpg");
  background-size: cover;
  opacity: 1;
  margin-top: 100px;
  background-position: center;
  background-size: center;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 414px) {
  .p-middleHead {
    padding: 0;
    margin-top: 80px;
    min-height: 270px;
  }
}

.p-middleHead__content {
  padding-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fbfbfa;
  border-radius: 10px;
  background: rgba(41, 46, 38, 0.35);
  font-size: 18px;
  font-weight: bold;
  line-height: 250%;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

@media screen and (max-width: 414px) {
  .p-middleHead__content {
    line-height: 200%;
    padding: 10px;
    font-size: 14px;
  }
}

.p-middleHead__center {
  text-align: left;
  display: inline-block;
  opacity: 1;
  margin-top: 20px;
}

.p-side {
  padding: 0;
  position: relative;
}

.p-side__li {
  line-height: 1.5;
  padding: 0.5em 0.5em 0.5em 1.7em;
  list-style-type: none !important;
  /*グラデーション*/
  background: -webkit-gradient(linear, left top, left bottom, from(skyblue), to(#5aade6));
  background: linear-gradient(to bottom, skyblue 0%, #5aade6 100%);
  /*グラデーション*/
  color: #fff;
}

.p-side__li:before {
  font-family: "Font Awesome 5 Free";
  content: "\F138";
  position: absolute;
  left: 0.5em;
  color: white;
}

.c-panel {
  display: inline-block;
  width: 100%;
  min-height: 180px;
  background: #fbfbfa;
  padding: 20px;
  border: solid 1px #99f81e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 130%;
}

@media screen and (max-width: 414px) {
  .c-panel {
    padding: 10px;
  }
}

.c-panel__title {
  color: #4eb609;
  margin-bottom: 5px;
}

@media screen and (max-width: 414px) {
  .c-panel__title {
    font-size: 14px;
  }
}

.c-panel__category {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #63b6cf;
  width: 200px;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
  margin-right: 15px;
  color: #fff;
}

@media screen and (max-width: 414px) {
  .c-panel__category {
    font-size: 14px;
    width: 160px;
  }
}

.c-panel:hover {
  background: rgba(170, 238, 158, 0.8);
  text-decoration: none;
  color: #ebfbfa;
}

.c-panel__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #0a3f8f;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.c-panel__container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-panel__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  top: -5px;
  margin-left: 10px;
  margin-right: 5px;
}

.c-panel__prof {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 250px;
  margin-left: 5px;
}

@media screen and (max-width: 414px) {
  .c-panel__prof {
    margin-top: 5px;
    min-width: 200px;
  }
}

@media screen and (max-width: 414px) {
  .c-panel__span {
    font-size: 12px;
  }
}

.c-panel__price {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #bbb477;
  width: 300px;
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
}

.c-panel__detail {
  margin-top: 10px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 150%;
  color: #0a3f8f;
  border: solid 1px #56c2a2;
  border-radius: 5px;
  margin-bottom: 10px;
}

.c-panel__btn {
  z-index: 1;
  width: 100px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 10px;
  border: none;
  background: #f36755;
  margin-left: 10px;
}

.c-panel__btn a:hover {
  color: #fff;
}

.c-panel__textarea {
  margin: 10px 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 150%;
  color: #0a3f8f;
  border: solid 1px #afac08;
  border-radius: 5px;
  display: block;
  width: 95%;
  min-height: 100px;
}

.c-panel__boards {
  border: solid 1px #1a529c;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  color: #0b2b83;
}

.c-panel__boards a {
  color: #489fd1;
  margin-top: 5px;
}

.c-panel__latest {
  border: solid 1px #d246e4;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  color: #b667ab;
}

.p-prof {
  background: #f7af13;
  min-height: 500px;
  width: 82%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 18%;
}

@media screen and (max-width: 768px) {
  .p-prof {
    margin-left: 30%;
    width: 70%;
    padding: 20px 10px;
  }
}

@media screen and (max-width: 414px) {
  .p-prof {
    padding: 10px;
    margin-left: 0;
    width: 100%;
  }
}

.p-prof__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .p-prof__title {
    font-size: 24px;
  }
}

.p-prof__formArea {
  margin: 20px auto;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 5px;
}

@media screen and (max-width: 414px) {
  .p-prof__formArea {
    padding: 10px;
  }
}

.p-prof__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 414px) {
  .p-prof__form {
    display: block;
  }
}

.p-prof__inputWrapper1 {
  width: 25%;
  margin-right: 20px;
  min-height: 800px;
}

@media screen and (max-width: 414px) {
  .p-prof__inputWrapper1 {
    width: 100%;
    min-height: 100%;
  }
}

.p-prof__inputWrapper2 {
  width: 73%;
  min-height: 800px;
}

@media screen and (max-width: 414px) {
  .p-prof__inputWrapper2 {
    min-height: 450px;
    width: 100%;
  }
}

.p-prof__inputGroup {
  width: 100%;
  margin-bottom: 15px;
}

.p-prof__labelTitle {
  display: block;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.p-prof__input {
  display: block;
  width: 80%;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background: #607af1;
  color: #fff;
  border: #fff solid 2px;
}

@media screen and (max-width: 414px) {
  .p-prof__input {
    width: 90%;
  }
}

.p-prof__image {
  border: solid 3px #607af1;
  margin-bottom: 15px;
}

.btn-yellow {
  background: #ebcd22;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
}

.background-creamGreen {
  background: #93e593;
  min-height: 1000px;
  margin-top: 100px;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 414px) {
  .background-creamGreen {
    margin-top: 40px;
    padding: 30px 5px;
  }
}

.btn-right {
  text-align: right;
}

.flex-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 1000px;
  margin-top: 100px;
}

@media screen and (max-width: 414px) {
  .flex-main {
    margin-top: 60px;
  }
}

.btn {
  width: 200px;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  border: 2px solid #fff;
}

@media screen and (max-width: 1050px) {
  .btn {
    width: 150px;
    padding: 10px;
  }
}

.btn-wide {
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
}

.btn-purple {
  background: #607af1;
}

.btn-lightblue {
  background: #43ccc5;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media screen and (max-width: 414px) {
  .btn-lightblue {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}

.flex-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  right: 10%;
}

.flash_message {
  position: absolute;
  background: #acf13c;
  width: 450px;
  color: #fff;
  font-size: 18px;
  top: 30px;
  left: 38%;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  z-index: 5;
}

@media screen and (max-width: 414px) {
  .flash_message {
    left: -30px;
    text-align: center;
    top: 0vh;
    font-size: 14px;
  }
}

.text-left {
  text-align: left !important;
}

.index-title {
  color: #6cb4e4;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #e9f4ff 3px, #e9f4ff 7px);
  margin: 15px auto;
}

@media screen and (max-width: 414px) {
  .index-title {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
}

.flex-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginate-original {
  margin: 0 auto;
  margin-top: 40px;
}

.message-area {
  width: 90%;
  margin: 0 auto;
  margin-top: 140px;
  min-height: 1000px;
  background: #fbfbfa;
  padding: 20px;
  border: solid 1px #99f81e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 40px;
}

@media screen and (max-width: 414px) {
  .message-area {
    width: 100%;
    margin-top: 100px;
    padding: 10px;
  }
}

.guide-message {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: #c2a2f5 2px solid;
  border-radius: 5px;
  background: rgba(164, 137, 214, 0.5);
  color: #4d4d4d;
  margin-top: 10px;
}

.error-show {
  color: red;
  margin: 10px auto;
  width: 80%;
}

@media screen and (max-width: 414px) {
  .error-show {
    font-size: 14px;
  }
}

.error-message {
  background: #f5d5d5;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #df2121;
  width: 80%;
  border-radius: 5px;
  margin: 15px auto;
}

.bell-color {
  color: #f3b23b;
  line-height: 30px;
  font-size: 18px;
  padding: 5px;
}

.bell-area {
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
  margin-left: 15px;
}

.bell-area:hover {
  cursor: pointer;
}

.apply-number {
  position: absolute;
  right: 5px;
  top: 3px;
  font-size: 10px;
  background: #1ff053;
  color: #fff;
  padding: 1px;
}

.show-applies {
  position: absolute;
  width: 500px;
  min-height: 50px;
  color: #668ad8;
  border: double 5px #668ad8;
  /*二重線 太さ 色*/
  background: #f1f8ff;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
}

@media screen and (max-width: 1200px) {
  .show-applies {
    left: -200px;
  }
}

@media screen and (max-width: 414px) {
  .show-applies {
    left: -120px;
    padding: 5px;
    width: 300px;
  }
}

.show-applies li {
  line-height: 1.5;
  padding: 0.5em 0;
  border-bottom: 2px solid #4c26d8;
}

.show-applies li a {
  color: #668ad8;
}

.show-applies li a:hover {
  color: #f368dc;
}

.area-hide {
  right: 3px;
  top: 3px;
  position: absolute;
  color: #d05aee;
  font-size: 14px;
  font-weight: bold;
  z-index: 10;
  padding: 5px;
}

@media screen and (max-width: 414px) {
  .area-hide {
    right: -5px;
    top: -5px;
  }
}

.is-hide {
  display: none;
}

.half-width {
  width: 50%;
  margin: 15px auto;
}

.btn-lightred {
  background: #f36755;
  position: relative;
  z-index: 2;
  margin-top: 10px;
}

.bg-yellow {
  border: #f3e634 solid 1px;
  color: #777;
  min-height: 130px;
}

.bg-yellow a {
  color: #777;
}

.bg-yellow:hover {
  color: #618ef0;
  background: #eef092;
}

.bg-purple {
  border: solid 1px #c08811;
  color: #777;
  min-height: 130px;
}

.bg-purple a {
  color: #777;
}

.bg-purple:hover {
  color: #618ef0;
  background: #fddf9d;
}

.cover {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(27, 85, 243, 0.5);
  width: 100%;
  height: 100%;
  z-index: 3;
}

.modal-window {
  width: 80%;
  z-index: 4;
  min-height: 300px;
  padding: 15px;
  border: #612dda 1px solid;
  border-radius: 5px;
  background: rgba(75, 89, 225, 0.9);
  position: absolute;
  left: 10%;
  top: 30%;
  color: #fbfbfa;
}

@media screen and (max-width: 414px) {
  .modal-window {
    padding: 5px;
    width: 90%;
    left: 5%;
  }
}

.hide-profile {
  right: 3px;
  top: 3px;
  position: absolute;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  z-index: 5;
  padding: 10px;
}

@media screen and (max-width: 414px) {
  .hide-profile {
    right: 1px;
    top: 1px;
    padding: 5px;
  }
}

.menu-trigger {
  display: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 11px;
  right: 12px;
  width: 40px;
  height: 32px;
  z-index: 3;
}

@media screen and (max-width: 414px) {
  .menu-trigger {
    display: inline-block;
  }
}

.menu-trigger span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #5c5854;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 14px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
          transform: translateY(12px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
          transform: translateY(-15px) rotate(45deg);
}

.hamburger-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

