 #footer{
    background: -moz-linear-gradient( #0b6eee, #70c6ff);
    background: -webkit-linear-gradient( #0b6eee, #70c6ff);
    background: linear-gradient(to right,  #0b6eee, #70c6ff);
    height: 50px;
    padding: 0.5em 1em;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    width:100%;
    z-index: 2;
    position: relative;
    @include mq(){
        font-size: 10px;
        padding: $space_s;
    }
}


