#main{
    min-height:800px;
    margin:0 auto;
    margin-top: $space_3l;
    width:80%;
    margin-bottom:100px;
    padding: $space_xxl;
    box-sizing: border-box;
    @include mq('lg'){
        width: 90%;
        padding: $space_l;
    }
    @include mq(){
        width: 100%;
        padding: $space_m;
    }
}
