#myMain{
    width:82%;
    padding: $space_l;
    box-sizing: border-box;
    min-height: 500px;
    margin: 0 auto;
    padding: $space_xl $space_3l;
    box-sizing: border-box;
    margin-left: 18%;
    @include mq('md'){
        padding: $space_l;
        width: 70%;
        margin-left: 30%;
    }
    @include mq(){
        width: 100%;
        margin-left: 0;
        padding: $space_m;
    }
}
