#sidebar{
    width: 18%;
    color: #fff;
    padding: $space_xl $space_m;
    box-sizing: border-box;
    background: rgb(111, 135, 243);
    min-height: 1250px;
    position: fixed;
    @include mq('md'){
        width: 30%;
    }
    @include mq(){
        display: none;
    }
}
