.btn-yellow{
    background:rgb(235, 205, 34);
    color:#fff;
    font-weight:bold;
    margin-top: $space_m;
}
.background-creamGreen{
    background:rgb(147, 229, 147);
    min-height: 1250px;
    margin-top: 100px;
    padding:50px;
    box-sizing: border-box;
    @include mq(){
        margin-top: 40px;
        padding: $space_xxl $space_s;
    }
}
.btn-right{
    text-align: right;
}
.flex-main{
    display:flex;
    min-height: 1000px;
    margin-top: 100px;
    @include mq(){
        margin-top: 60px;
    }
}
.btn{
    width: 200px;
    padding: $space_m $space_l;
    border-radius: $space_s;
    box-sizing: border-box;
    color: #fff;
    border: 2px solid #fff;
    @include mq('lg'){
        width: 120px;
        padding: $space_m;
    }

}
.btn-wide{
    padding: $space_m $space_l;
    border-radius: $space_s;
    box-sizing: border-box;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
}
.btn-purple{
    background:#607af1
}
.btn-lightblue{
    background: #43ccc5;
    height: 50px;
    position: absolute;
    bottom: $space_xl;
    right:$space_xl;
    @include mq(){
        position: absolute;
        right: $space_s;
        bottom: $space_s;


    }

}
.flex-reverse{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: 10%;
}
.flash_message{
    position:absolute;
    background:rgb(172, 241, 60);
    width:450px;
    color:#fff;
    font-size:$font-size_l;
    top:30px;
    left:38%;
    padding:$space_s $space_m;
    box-sizing:border-box;
    text-align:center;
    border-radius:$space_s;
    z-index:5;
    @include mq(){
        left:-30px;
        text-align: center;
        top:0vh;
        font-size:14px;

    }


}
.text-left{
    text-align: left!important;
}
.index-title{
  color: #6cb4e4;
  text-align: center;
  padding: $space_xl;
  font-size: $font-size_xl;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  margin: $space_l auto;
  @include mq(){
      margin: 0 auto;
      margin-bottom: $space_m;
  }
}
.flex-right{
    display: flex;
    flex-direction: row-reverse;
    position:relative;
}
.flex-side{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.paginate-original{
    margin: 0 auto;
    margin-top: $space_3l;
}
.message-area{
    width:90%;
    margin: 0 auto;
    margin-top: 140px;
    min-height: 1000px;
    background: #fbfbfa;
    padding: $space_xl;
    border: solid 1px #99f81e;
    box-sizing: border-box;
    margin-bottom: $space_3l;
    @include mq(){
        width: 100%;
        margin-top: 100px;
        padding: $space_m;
    }

}
.guide-message{
    padding: $space_m;
    box-sizing: border-box;
    border: rgb(194, 162, 245) 2px solid;
    border-radius: $space_s;
    background: rgba(164, 137, 214, 0.5);
    color: $font-color_default;
    margin-top: $space_m;
}
.error-show{
    color: red;
    margin: $space_m auto;
    width: 80%;
    @include mq(){
        font-size: $font-size_m;
    }
}
.error-message{
    background: rgb(245, 213, 213);
    padding: $space_m;
    box-sizing: border-box;
    color: rgb(223, 33, 33);
    width: 80%;
    border-radius: $space_s;
    margin: $space_l auto;
}
.bell-color{
    color: rgb(243, 178, 59);
    line-height: 30px;
    font-size: $font-size_l;
    padding: $space_s;
}
.bell-area{
    // background: #fbfbfa;
    width: 30px;
    height: 30px;
    text-align:center;
    position: relative;
    margin-left: $space_l;
    &:hover{
        cursor: pointer;
    }
}
.apply-number{
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: 10px;
    background: #1ff053;
    color: #fff;
    padding: 1px;

}
.show-applies{
    position: absolute;
    width: 500px;
    min-height: 50px;
    color: #668ad8;
    border: double 5px #668ad8;/*二重線 太さ 色*/
    background: #f1f8ff;
    padding: $space_m;
    box-sizing: border-box;
    font-size: $font-size_s;
    @include mq('xl'){
        left: -200px;
    }
    @include mq(){
        left: -120px;
        padding: $space_s;
        width: 300px;
    }
    li{
        line-height: 1.5;
        padding: 0.5em 0;
        border-bottom: 2px solid rgb(76, 38, 216);
        a{
            color: #668ad8;
            &:hover{
                color: rgb(243, 104, 220);
            }
        }
    }

}
.area-hide{
    right: 3px;
    top: 3px;
    position: absolute;
    color:rgb(208, 90, 238);
    font-size: $font-size_m;
    font-weight: bold;
    z-index: 10;
    padding: $space_s;
    @include mq(){
        right: -$space_s;
        top: -$space_s;

    }
}
.is-hide{
    display: none;
}
.half-width{
    width: 50%;
    margin: $space_l auto;
}
.btn-lightred{
    background: rgb(243, 103, 85);
    position: relative;
    z-index: 2;
    margin-top: $space_m;
}
.bg-yellow{
    border: rgb(243, 230, 52) solid 1px;
    color: #777;
    min-height: 130px;
    a{
        color: #777;
    }
    &:hover{
        color: rgb(97, 142, 240);
        background: rgb(238, 240, 146);
    }
}
.bg-purple{
    border: solid 1px rgb(192, 136, 17);
    color: #777;
    min-height: 130px;
    a{
        color: #777;
    }
    &:hover{
        color: rgb(97, 142, 240);
        background:  rgb(253, 223, 157);
    }
}
.cover{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(27, 85, 243, 0.5);
    width: 100%;
    height: 100%;
    z-index:3;
}
.modal-window{
    width: 80%;
    z-index: 4;
    min-height: 300px;
    padding: $space_l;
    border: rgb(97, 45, 218) 1px solid;
    border-radius: $space_s;
    background: rgba(75, 89, 225, .9);
    position: absolute;
    left: 10%;
    top: 30%;
    color: #fbfbfa;
    @include mq(){
        padding: $space_s;
        width: 90%;
        left: 5%;
    }
}
.hide-profile{
    right: 3px;
    top: 3px;
    position: absolute;
    color: #fff;
    font-size: $font-size_xl;
    font-weight: bold;
    z-index: 5;
    padding: $space_m;
    @include mq(){
        right: 1px;
        top: 1px;
        padding: $space_s;
    }
}
.menu-trigger{
    display:none;
    @include mq(){
        display:inline-block;
    }
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    top:11px;
    right:12px;
    width: 40px;
    height: 32px;
    z-index: 3;
    span{
        display:inline-block;
        transition: all .4s;
        box-sizing: border-box;
        position: absolute;
        left:0;
        width:100%;
        height:4px;
        background-color: rgb(92, 88, 84);
        border-radius: 4px;

        &:nth-of-type(1){
            top:0;
        }
        &:nth-of-type(2){
            top:14px;
        }
        &:nth-of-type(3){
            bottom:0;
        }
    }
    &.active span{
        &:nth-of-type(1){
            transform: translateY(12px) rotate(-45deg);
        }
        &:nth-of-type(2){
            opacity:0;
        }
        &:nth-of-type(3){
            transform: translateY(-15px) rotate(45deg);
        }
    }
}
.hamburger-search{
    display:flex;
    align-items: center;
    padding: $space_m;
}

.not-apply{
    width: 90px;
    padding: $space_m $space_m;
    box-sizing: border-box;
    background: rgb(184, 181, 51);
    color: #fff;
    font-size: $font-size_m;
    text-align: center;
    vertical-align: top;
    display: inline-block;
}
.apply-done{
    width: 90px;
    padding: $space_m $space_m;
    box-sizing: border-box;
    background: rgb(64, 65, 117);
    color: #fff;
    font-size: $font-size_m;
    text-align: center;
    vertical-align: top;
    display: inline-block;
}
#register:target,#apply:target,#public:target,#direct:target{
    -webkit-animation: modify 0.1s;
    animation: modify 0.1s;
    @include mq(){
        -webkit-animation: spmodify 0.1s;
        animation: spmodify 0.1s;
    }
}

